# 0. Se importan las librerías necesarias

In [1]:
import pandas as pd
import json #para trabajar con datos anidados/formato json

# 1. Se carga el dataset con el cual se va a trabajar

In [2]:
dfmovies = pd.read_csv(r'Datasets/movies_dataset.csv') #se carga el df con ruta relativa

<ipython-input-2-f57dae096481>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dfmovies = pd.read_csv(r'Datasets/movies_dataset.csv') #se carga el df con ruta relativa

In [3]:
dfmovies.dtypes #se revisan los tipos de datos

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [4]:
print(dfmovies.shape) #dimensiones df
dfmovies.head() #se revisan las primeras filas

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# 2. ETL

## 2.0 Registros inconsistentes

In [5]:
dfmovies[pd.to_numeric(dfmovies['budget'], errors='coerce').isna()] #se buscan los registros inconsistentes en el formato de la columna

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
registros_incorrectos = dfmovies[pd.to_numeric(dfmovies['budget'], errors='coerce').isna()] #se buscan los registros inconsistentes en el formato de la columna

In [7]:
#se reemplazan los valores incorrectos en el df
for n,i in enumerate(registros_incorrectos.index):
  print(i)
  print(n)
  fila = dfmovies.loc[i]  # guarda los datos del registro incorrecto
  fila2 = fila.tolist() #los pasa a una lista
  dfmovies.loc[i] = fila2[15:]+fila2[0:15] #reordena los datos y los asigna nuevamente en el df original
  #print(dfmovies.iloc[i])
  #dfmovies.loc[i, "release_date"] = valores_correctos_date[n]
  #dfmovies.loc[i, "id"] = valores_correctos_id[n]

19730
0
29503
1
35587
2

In [8]:
dfmovies.loc[19730]  # Se revisa el resultado

adult                                                                  NaN
belongs_to_collection                                                  NaN
budget                                                                 NaN
genres                                                                 NaN
homepage                                                               NaN
id                                                                     NaN
imdb_id                                                                NaN
original_language                                                      NaN
original_title                                                         NaN
overview                                                - Written by Ørnås
popularity                                                        0.065736
poster_path                               /ff9qCepilowshEtG2GYWwzt2bs4.jpg
production_companies     [{'name': 'Carousel Productions', 'id': 11176}...
production_countries     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
release_date                                                    1997-08-20
revenue                                                                  0
runtime                                                              104.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                         Midnight Man
video                                                                False
vote_average                                                           6.0
vote_count                                                               1
Name: 19730, dtype: object

## 2.1 Eliminación columnas

In [9]:
#se eliminan las columnas que no son necesarias para el modelo
dfmovies.drop(labels=["video","imdb_id","adult","original_title","vote_count","poster_path", "homepage"], inplace=True, axis=1)

In [10]:
dfmovies.shape

(45466, 17)

## 2.2 Imputación de valores nulos

In [11]:
dfmovies.isna().sum() #se revisa la cantidad de valores faltantes para cada feature

belongs_to_collection    40975
budget                       3
genres                       3
id                           3
original_language           14
overview                   954
popularity                   3
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25053
title                        3
vote_average                 3
dtype: int64

In [12]:
#la variable budget no tiene NAs por lo que sólo se procede con revenue
dfmovies.revenue.fillna(value = 0, inplace=True) #se imputan los valores faltantes con 0

In [13]:
dfmovies.dropna(axis=0, subset="release_date", inplace=True) #se eliminan los registros donde falta el valor de fecha de lanzamiento

In [14]:
dfmovies.isna().sum() #se revisan las transformaciones

belongs_to_collection    40891
budget                       3
genres                       3
id                           3
original_language           14
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24980
title                        0
vote_average                 0
dtype: int64

## 2.3 Cambios de formato

In [15]:
# Se convierte la columna 'release_date' a formato de fecha y se asigna NaT a los valores no válidos
dfmovies['release_date_v2'] = pd.to_datetime(dfmovies['release_date'], format="%Y-%m-%d",errors='coerce')

# Se identifican los registros que no son fechas válidas
valores_no_validos = dfmovies[dfmovies['release_date_v2'].isna()]

In [16]:
valores_no_validos #los registros parecen tener los datos de las columnas "release_date" e "id" intercambiados

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, release_date_v2]
Index: []

In [17]:
# se crean dos listas con los valores correctos para reemplazar en la columna correspondiente
valores_correctos_id = valores_no_validos.release_date.tolist()
valores_correctos_date = valores_no_validos.id.tolist()

In [18]:
#se reemplazan los valores incorrectos en el df
for n,i in enumerate(valores_no_validos.index):
  print(i)
  print(n)
  #print(dfmovies.iloc[i])
  dfmovies.loc[i, "release_date"] = valores_correctos_date[n]
  dfmovies.loc[i, "id"] = valores_correctos_id[n]

In [19]:
# Se cambia el nombre de la columna release_date original y se crea la columna nueva con los formatos corregidos
dfmovies.drop("release_date_v2", axis=1, inplace=True)
dfmovies['release_date_orig'] = dfmovies['release_date']
dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'], format="%Y-%m-%d",errors='coerce')

In [20]:
dfmovies.iloc[19714] # se revisa con un ejemplo el cambio de formato

belongs_to_collection                                                  NaN
budget                                                                 NaN
genres                                                                 NaN
id                                                                     NaN
original_language                                                      NaN
overview                                                - Written by Ørnås
popularity                                                        0.065736
production_companies     [{'name': 'Carousel Productions', 'id': 11176}...
production_countries     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
release_date                                           1997-08-20 00:00:00
revenue                                                                  0
runtime                                                              104.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                         Midnight Man
vote_average                                                           6.0
release_date_orig                                               1997-08-20
Name: 19730, dtype: object

## 2.4 Desanidado

Columna "belongs_to_collection"

In [ ]:
dfmovies.head() # se revisa cuáles son las columnas con datos anidados: "belongs_to_collection", "genres", "production_companies", "production_countries" y "spoken_languages"

In [21]:
dfmovies.belongs_to_collection.loc[2]

"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"

In [23]:
json.loads(dfmovies.belongs_to_collection.loc[2].replace("'", '"'))

{'id': 119050,
 'name': 'Grumpy Old Men Collection',
 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg',
 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}

In [22]:
#definición de función para adecuar el formato de los datos antes de desanidarlos
def parse_collection_data(data):
    if pd.isna(data):
        return None
    else:
        try:
            return json.loads(data.replace("'", '"'))
        except:
            return None

In [24]:
dfmovies['belongs_to_collection_v2'] = dfmovies['belongs_to_collection'].apply(parse_collection_data) #se aplica la función de formateo y se guarda en una nueva columna

In [25]:
# Se utiliza pd.json_normalize() para desanidar los datos y crear un nuevo DataFrame
df_desanidado = pd.json_normalize(dfmovies['belongs_to_collection_v2'])

# Se agrega un sufijo a las columnas para diferenciarlas en el join
df_desanidado = df_desanidado.add_prefix('collection_')

# Combina el nuevo DataFrame desanidado con el DataFrame original utilizando el método join()
dfmovies = dfmovies.join(df_desanidado, rsuffix="collecction")

In [44]:
dfmovies.drop(labels= ["belongs_to_collection","belongs_to_collection_v2"], axis = 1, inplace = True) #se eliminan las columnas desanidadas para evitar redundancia

In [47]:
dfmovies.shape

(45379, 24)

Columna "genres"

In [ ]:
dfmovies['genres_v2'] = dfmovies['genres'].apply(parse_collection_data) #se aplica la función de formateo y se guarda en una nueva columna

In [ ]:
# Se utiliza pd.json_normalize() para desanidar los datos y crear un nuevo DataFrame
df_desanidado = pd.json_normalize(dfmovies['genres_v2'])

df_desanidado.head(10) #se revisa el resultado

In [ ]:
df_desanidado = df_desanidado.add_prefix('genre_') #se agrega un sufijo a cada columna

In [ ]:
cant_genres = df_desanidado.columns.tolist() #se crea la lista con los nombres de las columnas para iterar sobre ella

In [ ]:
# se itera para desanidar cada diccionario de género y unen todas las columnas
for n, i in enumerate(cant_genres):
  #print(i)
  #print(n)
  df_desanid_v2 = pd.json_normalize(df_desanidado[i]).add_prefix(f'{i}_')
  #print(df_desanid_v2.head())
  df_desanidado = df_desanidado.join(df_desanid_v2)

In [ ]:
df_desanidado.shape

(45379, 24)

In [ ]:
df_desanidado.drop(labels=cant_genres, inplace=True, axis=1) #se dropean las columnas intermedias de genero

In [ ]:
dfmovies = dfmovies.join(df_desanidado) #se guarda el nuevo df

Columna "production_companies"

In [ ]:
dfmovies['production_companies_v2'] = dfmovies['production_companies'].apply(parse_collection_data) #se aplica la función de formateo y se guarda en una nueva columna

In [ ]:
# Se utiliza pd.json_normalize() para desanidar los datos y crear un nuevo DataFrame
df_desanidado = pd.json_normalize(dfmovies['production_companies_v2'])

df_desanidado.head(10) #se revisa el resultado

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"{'name': 'Pixar Animation Studios', 'id': 3}",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"{'name': 'TriStar Pictures', 'id': 559}","{'name': 'Teitler Film', 'id': 2550}","{'name': 'Interscope Communications', 'id': 10...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"{'name': 'Warner Bros.', 'id': 6194}","{'name': 'Lancaster Gate', 'id': 19464}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,{'name': 'Twentieth Century Fox Film Corporati...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,"{'name': 'Sandollar Productions', 'id': 5842}","{'name': 'Touchstone Pictures', 'id': 9195}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,"{'name': 'Regency Enterprises', 'id': 508}","{'name': 'Forward Pass', 'id': 675}","{'name': 'Warner Bros.', 'id': 6194}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,"{'name': 'Paramount Pictures', 'id': 4}","{'name': 'Scott Rudin Productions', 'id': 258}","{'name': 'Mirage Enterprises', 'id': 932}","{'name': 'Sandollar Productions', 'id': 5842}","{'name': 'Constellation Entertainment', 'id': ...","{'name': 'Worldwide', 'id': 55873}","{'name': 'Mont Blanc Entertainment GmbH', 'id'...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,"{'name': 'Walt Disney Pictures', 'id': 2}",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,"{'name': 'Universal Pictures', 'id': 33}","{'name': 'Imperial Entertainment', 'id': 21437}","{'name': 'Signature Entertainment', 'id': 23770}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,"{'name': 'United Artists', 'id': 60}","{'name': 'Eon Productions', 'id': 7576}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Warning: Total number of columns (26) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df_desanidado = df_desanidado.add_prefix('production_company_') #se agrega un sufijo a cada columna

In [ ]:
cant_comp = df_desanidado.columns.tolist() #se crea la lista con los nombres de las columnas para iterar sobre ella

In [ ]:
# se itera para desanidar cada diccionario de compañías y unen todas las columnas
for n, i in enumerate(cant_comp):
  #print(i)
  #print(n)
  df_desanid_v2 = pd.json_normalize(df_desanidado[i]).add_prefix(f'{i}_')
  #print(df_desanid_v2.head())
  df_desanidado = df_desanidado.join(df_desanid_v2)

In [ ]:
df_desanidado.shape

(45379, 52)

In [ ]:
df_desanidado.drop(labels=cant_comp, inplace=True, axis=1) #se dropean las columnas intermedias de compañías

In [ ]:
dfmovies = dfmovies.join(df_desanidado) #se guarda el nuevo df

## 2.5 Creación de nuevos features/variables

Release year

In [27]:
dfmovies['release_year'] = dfmovies['release_date'].dt.year

In [ ]:
dfmovies.head(10)

Return

In [30]:
dfmovies['budget_v2'] = pd.to_numeric(dfmovies['budget'], errors='coerce') #se pasa a formato numérico la variable "budget", se imputa como valor faltante los datos que no pueden convertirse

In [31]:
dfmovies[dfmovies['budget_v2'].isna()] #se revisan los registros con valores faltantes para la variable en cuestión

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,release_date_orig,belongs_to_collection_v2,collection_id,collection_name,collection_poster_path,collection_backdrop_path,release_year,budget_v2
19730,NaN,NaN,NaN,NaN,NaN,- Written by Ørnås,0.065736,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,...,Midnight Man,6.0,1997-08-20,None,NaN,NaN,NaN,NaN,1997,NaN
29503,NaN,NaN,NaN,NaN,NaN,Rune Balot goes to a casino connected to the ...,1.931659,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,...,Mardock Scramble: The Third Exhaust,7.0,2012-09-29,None,NaN,NaN,NaN,NaN,2012,NaN
35587,NaN,NaN,NaN,NaN,NaN,Avalanche Sharks tells the story of a bikini ...,2.185485,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,...,Avalanche Sharks,4.3,2014-01-01,None,NaN,NaN,NaN,NaN,2014,NaN

In [32]:
# se crea una función para lidiar con los valores faltantes y poder calcular la relación con "revenue"
def calculate_return(row):
    if row["budget_v2"] == 0 or pd.isnull(row["budget_v2"]):
        return 0
    else:
        return row["revenue"] / row["budget_v2"]

In [33]:
dfmovies["return"] = dfmovies.apply(calculate_return, axis=1) #se guardan los resultados de la función como variable "return"

In [34]:
dfmovies[dfmovies["budget_v2"] == 0] #se revisa el correcto funcionamiento de la función

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_average,release_date_orig,belongs_to_collection_v2,collection_id,collection_name,collection_poster_path,collection_backdrop_path,release_year,budget_v2,return
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,6.5,1995-12-22,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,1995,0.0,0.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,5.7,1995-02-10,"{'id': 96871, 'name': 'Father of the Bride Col...",96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,1995,0.0,0.0
7,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,5.4,1995-12-22,None,NaN,NaN,NaN,NaN,1995,0.0,0.0
11,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110,en,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,...,5.7,1995-12-22,None,NaN,NaN,NaN,NaN,1995,0.0,0.0
12,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,An outcast half-wolf risks his life to prevent...,12.140733,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,7.1,1995-12-22,"{'id': 117693, 'name': 'Balto Collection', 'po...",117693.0,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg,1995,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,...,5.7,1991-05-13,None,NaN,NaN,NaN,NaN,1991,0.0,0.0
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,9.0,2011-11-17,None,NaN,NaN,NaN,NaN,2011,0.0,0.0
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,3.8,2003-08-01,None,NaN,NaN,NaN,NaN,2003,0.0,0.0
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,0.0,1917-10-21,None,NaN,NaN,NaN,NaN,1917,0.0,0.0
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,0.0,2017-06-09,None,NaN,NaN,NaN,NaN,2017,0.0,0.0

# Se guarda el df transformado

In [48]:
dfmovies.to_csv('Datasets/movies_dataset_v2.csv', sep = ',' , index=False)

In [49]:
dfmoviesv2 = pd.read_csv(r'Datasets/movies_dataset_v2.csv') #se carga el df con ruta relativa

In [50]:
dfmoviesv2.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,title,vote_average,release_date_orig,collection_id,collection_name,collection_poster_path,collection_backdrop_path,release_year,budget_v2,return
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,Toy Story,7.7,1995-10-30,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,1995,30000000.0,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,Jumanji,6.9,1995-12-15,NaN,NaN,NaN,NaN,1995,65000000.0,4.043035
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602.0,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,Grumpier Old Men,6.5,1995-12-22,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,1995,0.0,0.000000
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,...,Waiting to Exhale,6.1,1995-12-22,NaN,NaN,NaN,NaN,1995,16000000.0,5.090760
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862.0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,...,Father of the Bride Part II,5.7,1995-02-10,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,1995,0.0,0.000000